{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <div class="highlight">
    <!-- ユーザー情報 -->
    <div class="user-info">
      <span id="nicknameField">ニックネーム: {{ request.user.nickname }}</span>
      <span id="usernameField">ユーザー名: {{ request.user.username }}</span>
    </div>

    <div id="popup" class="popup hidden">
      <form id="popupForm">
          <label for="popupInput">新しい値を入力してください:</label>
          <input type="text" id="popupInput" required>
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="button" id="cancelButton" class="btn btn-secondary">キャンセル</button>
      </form>
   </div>
    
    <!-- ランクと経験値 -->
    <div class="stats">
      <span>ランク: {{ progress.current_rank }}</span><br>
      <span>経験値: {{ progress.current_experience }} / {{ progress.experience_to_next_rank }}</span>
    </div>

    <!-- アバター -->
    <div class="character">
      <img src="{% static 'images/avatar.png' %}" alt="アバター画像">
    </div>

    <!-- 丸いボタン -->
    <button class="circle-button learn-button" onclick="location.href='/learn';">学習</button>
    <button class="circle-button customize-button" onclick="location.href='/customize';">着せ替え</button>
  </div>
  <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
