{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/quest_year.css' %}">
    <title>出題年度一覧</title>
</head>
<body>
    <div class="highlight">
        <!-- 戻るボタン -->
        <div class="back">
            <a href="{% url 'learn' %}" class="botan">
                 メニュー画面に戻る    
            </a>
        </div>

        <!-- ページタイトル -->
        <div class="nendo">
            <h1>出題年度一覧</h1>
        </div>

        <!-- 年度リスト -->
        <div class="year-container">
            {% if exam_years %}
                {% for exam_year in exam_years %}
                    <a href="{% url 'questions_by_year' exam_year.name %}" class="btn btn-custom">
                        {{ exam_year.name }}年度
                    </a>
            {% endfor %}
            {% else %}
            <p>登録されている出題年度がありません。</p>
            <a href="{% url 'home' %}" class="botan"> メニュー画面に戻る </a>
          {% endif %}
        </div>
    </div>
</body>
</html>
