/* 全体の背景と配置 */
body {
    background-color: #f5e3d8;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* プレビューエリア */
.avatar-preview {
    width: 100%;
    background-image: url('/static/images/check.png');
    padding: 20px 0;
    text-align: center;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-preview h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

#avatar-canvas {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
}

/* カスタマイズコンテナ */
.customize-container {
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* カテゴリタブのスタイル */
.nav-tabs {
    justify-content: center;
    color: #668ad8;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 47px;
    width: 916px;
    font-size: 16px;
}

.nav-tabs .nav-item {
    margin: 0 10px;
}

.nav-tabs .nav-link {
    color: #668ad8;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    scroll-snap-align: start;
}

.nav-tabs .nav-link.active {
    background-color: #668ad8;
    color: #fff;
    font-size: 20px;
}

/* タグの下 */
.tab-content{
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 916px;
    height: 400px;
    overflow: auto; /* 内容がはみ出した場合にスクロールを表示 */
}

.parts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.part-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.part-item input {
    display: none;
}

.part-item label {
    cursor: pointer;
    text-align: center;
}

.part-item img {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.part-item input:checked + label img {
    border-color: #98BCAC;
    transform: scale(1.1);
}

/* ボタンを横並びにするためのコンテナ */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;  /* ボタンの間隔 */
    margin-top: 30px;  /* 上部に余白を追加 */
}

/* 保存ボタン */
.save-button {
    background-color: #98BCAC;
    color: #fff;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.save-button:hover {
    background-color: #6a8d7c;
}

/* ホームに戻るボタン */
.home-button {
    color: #fff;
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
    background-color: #535353;
}
