@import url('/dressproject/dress/static/css/responsive.css');
        
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  /* 横方向に中央寄せ */
    align-items: center;      /* 縦方向に中央寄せ */
    height: 100vh;            /* ビューポートの高さに合わせる */
    text-align: center;       /* テキストの中央寄せ */
    background-image: url('/static/images/kokuban7-1280x720.png'); /* 画像のパス */
    background-size: cover; /* 背景画像が画面全体を覆うようにする */
    background-position: center center; /* 画像を中央に配置 */
    background-attachment: fixed; /* スクロールしても背景が動かないようにする */
    width: 100%; /* ビューポートの幅に合わせる */
    height: 100%; /* ビューポートの高さに合わせる */
}


.results{
    margin-top: 95px;
    padding-bottom: 50px; /* 下部に余白を追加 */
    box-sizing: border-box; /* パディングを含めた幅の計算 */
    width: 830px;
    height: 750px;
    padding: 20px;
    background-image: url('/static/images/note.jpg');
    border-radius: 8px;
    filter: brightness(100%);
}

.text-result h3{
    color: #FFC36D;
    font-size: 30px;
}

.text-result{
    margin-top: 150px;
    font-size: 18px;
}

.navigation{
    margin-top: 60px;
}

.btn-back{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #98BCAC;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #6a8d7c;
    color: #fff;
}

.highlight{
    color: #668ad8;
    font-size: 22px;
}